<% include  ./partials/header %>

<div class="container">
	<div class="jumbotron">
		<h1>Railway Grievence and Redressal</h1>
		<hr>
		<a href="/adminRole" class="btn btn-primary">Admin Here</a>
		<a href="/dept" class="btn btn-primary">department</a>
		<a href="/train" class="btn btn-primary">train</a>
	</div>
</div>

<% include  ./partials/footer %>


