<% include ../partials/header %>

<form action="/train"  method="POST" >
	<div class="container" style="width: 33%;">
		<div class="form-group" >
			<label for="train[trainName]" >Train Name:</label>
			<input class= "form-control" type="text" name="train[trainName]" placeholder="Train Name">
		</div>
		<div class="form-group" >
			<label for="train[trainId]" >Train Id</label>
			<input class= "form-control" type="text" name="train[trainId]" placeholder="Train Id">
		</div>
		<div class="form-group">
			<button class="btn btn-primary form-control">Submit</button>
		</div>
	</div>
</form>

<% include ../partials/footer %>

